$CLASS$ {
    padding: 20px;
    background-color: $COLOR$;
    color: $TEXT-COLOR$;
}

$CLASS$ .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

$CLASS$ .closebtn:hover {
    color: black;
}
