$CLASS$ {
	box-shadow: 0 $SHADOW$ 8px 0 rgba(0,0,0,0.2);
	padding: $PADDING-TOP$ $PADDING-RIGHT$ $PADDING-BOTTOM$ $PADDING-LEFT$;
	width: $WIDTH$;
	background-color: $COLOR$;
	margin: $MARGIN-TOP$ $MARGIN-RIGHT$;
}
