$CLASS$ .polaroid {
  width: 80%;
  background-color: $COLOR$;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

$CLASS$ .container {
  text-align: center;
  font-size: $FONT-SIZE$;
  color: $FONT-COLOR$;
  padding: $PADDING-TOP$ $PADDING-LEFT$;
}
