$CLASS$ .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:$COLOR$;
}

$CLASS$ a{
    color: #282b2d;
    margin-right:30px;
    margin-left:30px;
}
$CLASS$ .fa {
	color:$ICON-COLOR$;
}
$CLASS$ .fa-facebook:hover{
	color:#3b5998;
}

$CLASS$ .fa-github:hover{
	color:#040204;
}

$CLASS$ .fa-linkedin:hover{
	color:#04669A;
}

$CLASS$ .fa-google-plus:hover{
	color:#C20806;
}

$CLASS$ .fa-google:hover{
	color:#C20806;
}

$CLASS$ .fa-twitter:hover{
	color:#00B6F1;
}

$CLASS$ .fa-reddit:hover{
	color:orange;
}

$CLASS$ .fa-pinterest:hover{
	color:#C91517;
}

$CLASS$ .fa-envelope:hover{
	color:#dddddd;
}

$CLASS$ .fa-quora:hover{
	color:#C20806;
}

$CLASS$ .fa-slack:hover{
	color:#e84a5f;
}

$CLASS$ .fa-skype:hover{
	color:#00B6F1;
}

$CLASS$ .fa-youtube:hover{
	color:#C31A1E;
}

$CLASS$ .fa-instagram:hover{
	color:#2C6A93;
}

$CLASS$ .fa-stack-overflow:hover{
	color:orange;
}

$CLASS$ .fa-home:hover{
	color:#c8d9de;
}

$CLASS$ .fa-phone:hover{
	color:#8da6af;
}