<div id = "footer">
		<div class = "container-fluid">
		    <div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-8"><h1>Contact Me:</h1></div>
			<div class = "col-md-2"></div>
		    </div>
		    <div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-2"><a href = "https://www.facebook.com/people/Ishan-Tarunesh/100013051500880"> 
	                <img src = "facebook-box.png" width = "80px" height = "80px"></a></div>
			<div class = "col-md-2"></div>
			<div class = "col-md-2"><a href = "mailto:ishantarunesh@gmail.com"> 
	                <img src = "gmail.png" width = "80px" height = "80px"></a></div>
			<div class = "col-md-2"></div>
			<div class = "col-md-2"> <img src = "home.png" width = "80px" height = "80px"> </div>
			<div class = "col-md-1"></div>
		    </div>
		    <div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-2">Facebook</div>
			<div class = "col-md-2"></div>
			<div class = "col-md-2">Gmail</a></div>
			<div class = "col-md-2"></div>
			<div class = "col-md-2">Room 48, Hostel 2</div>
			<div class = "col-md-1"></div>
		    </div>
		    <div class = "row">
			<div class = "col-md-12"><br><br></div>
		    </div>
		</div>
    </div>
