$CLASS$ .dropbtn {
    background-color: $COLOR$;
    color: $FONT-COLOR$;
    padding: $PADDING-TOP$ $PADDING-LEFT$;
    font-size: $FONT-SIZE$;
    border: $BORDER-COLOR$;
    cursor: $CURSOR$;
    border-radius: $ROUNDED$;
    box-shadow: $SHADOW$;
    opacity: $OPACITY$;
}

$CLASS$ {
    position: relative;
    display: inline-block;
}

$CLASS$ .dropdown-content {
    display: none;
    position: absolute;
    background-color: $DROPDOWN-COLOR$;
    min-width: $DROPDOWN-WIDTH$;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

$CLASS$ .dropdown-content a {
    color: $DROPDOWN-FONT-COLOR$;
    font-size:$DROPDOWN-FONT-SIZE$;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

$CLASS$ .dropdown-content a:hover {background-color: $DROPDOWN-HOVER-COLOR$;
				   color: $DROPDOWN-HOVER-FONT-COLOR$;}

$CLASS$:hover .dropdown-content {
    display: block;
}

$CLASS$:hover .dropbtn {
    background-color: $HOVER-COLOR$;
}
