@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$CLASS$ ul {
  list-style: none;
}

$CLASS .cf {
  &:before, &:after { content: ' '; display: table; }
  &:after { clear: both; }
}

$CLASS .inner {
  max-width: 820px;
  margin: 0 auto;
}

$CLASS$ {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $COLOR$;
}

$CLASS$ ul {
  border-left: 1px solid $ARROW-COLOR$;
  padding-left: 0px;
  border-right: 1px solid $ARROW-COLOR$;
}

$CLASS$ li {
  float: left;
  width: 20%;
}

$CLASS$ a {
  position: relative;
  display: block;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: $FONT-SIZE$;
  font-weight: bold;
  text-align: center;
  color: $FONT-COLOR$;
  cursor: pointer;
}

$CLASS$ a:hover {
  color: $HOVER-FONT-COLOR$
  background: $HOVER-COLOR$;
  height:22px;
}

$CLASS$ a.active {
  color: $HOVER-FONT-COLOR$;
  background-color: $HOVER-COLOR$;
  height:22px;
}

$CLASS$ a span:first-child {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}

$CLASS$ a.active span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}

$CLASS$ a:before,
$CLASS$ a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 16px solid transparent;
}

$CLASS$ a:before {
  margin-left: 1px;
  border-left-color: $ARROW-COLOR$;
}

$CLASS$ a:after {
  border-left-color: $COLOR$;
}

$CLASS$ a:hover:after {
  border-left-color: $HOVER-COLOR$;
}

$CLASS$ a.active:after {
  border-left-color: $HOVER-COLOR$;
}

$CLASS$ li:last-child a:before,
$CLASS$ li:last-child a:after {
  display: none;
}

@media (max-width: 720px) { 
  $CLASS$ a {
    padding: 15px;
  }
  $CLASS$ a:before,
  $CLASS$ a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}

@media (max-width: 620px) { 
  $CLASS$ a {
    padding: 10px;
    font-size: 12px;
  }
  $CLASS$ a:before,
  $CLASS$ a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}

@media (max-width: 520px) {
  $CLASS$ a {
    padding: 5px;
  }
  $CLASS$ a:before,
  $CLASS$ a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }
  $CLASS$ li a span:first-child {
    display: block;
    margin: 0 auto;
  }
  $CLASS$ li a span:last-child {
    display: none;
  }
}
