$CLASS$ .container {
  width: 100%;
  background-color: #ddd;
}

$CLASS$ .skills {
  position: relative;
  text-align: right;
  padding-right: 20px;
  line-height: $WIDTH$;
  left:-13.3px;
  color: white;
}
