$CLASS$ .margin {margin-bottom: 20px;margin-top: 20px;}
.bg { 
      background-color: $COLOR$;
      color: $FONT-COLOR$;
}
$CLASS$ .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
