$CLASS$ {
	background-color: $COLOR$;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

$CLASS$ .footer-company-motto{
	color:  $MOTTO-FONT-COLOR$;
	font-size: $MOTTO-FONT-SIZE$;
	margin: 0;
}

$CLASS$ .footer-company-name{
	color:  $NAME-FONT-COLOR$;
	font-size: $NAME-FONT-SIZE$;
	margin: 0;
}

$CLASS$ .footer-links{
	list-style: none;
	font-weight: bold;
	color:  $FONT-COLOR$;
        font-size: $FONT-SIZE$;
	padding: 35px 0 23px;
	margin: 0;
}

$CLASS$ .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	$CLASS${
		padding: 35px;
	}

	$CLASS$ .footer-company-motto{
		font-size: 18px;
	}

	$CLASS$ .footer-company-name{
		font-size: 12px;
	}

	$CLASS$ .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	$CLASS$ .footer-links a{
		line-height: 1.8;
	}
}
