@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
.navbar {
  background: #f96e5b;
  width: auto;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.navbar.align-right ul li {
  float: right;
}
.navbar.align-center ul {
  text-align: center;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.navbar ul li a:hover {
  color: #333333;
}
.navbar ul li a:hover:before {
  width: 100%;
}
.navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.navbar ul li.last > a:after,
.navbar ul li:last-child > a:after {
  display: none;
}
.navbar ul li.active a {
  color: #333333;
}
.navbar ul li.active a:before {
  width: 100%;
}
.navbar.align-right li.last > a:after,
.navbar.align-right li:last-child > a:after {
  display: block;
}
.navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar ul li {
    float: none;
    display: block;
  }
  .navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .navbar ul li.last > a,
  .navbar ul li:last-child > a {
    border: 0;
  }
  .navbar ul li a:after {
    display: none;
  }
  .navbar ul li a:before {
    display: none;
  }
}


.footer .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#292c2f;
}

.footer a{
    color: #282b2d;
    margin-right:30px;
    margin-left:30px;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
.navbar {
  background: #f96e5b;
  width: auto;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.navbar.align-right ul li {
  float: right;
}
.navbar.align-center ul {
  text-align: center;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.navbar ul li a:hover {
  color: #333333;
}
.navbar ul li a:hover:before {
  width: 100%;
}
.navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.navbar ul li.last > a:after,
.navbar ul li:last-child > a:after {
  display: none;
}
.navbar ul li.active a {
  color: #333333;
}
.navbar ul li.active a:before {
  width: 100%;
}
.navbar.align-right li.last > a:after,
.navbar.align-right li:last-child > a:after {
  display: block;
}
.navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar ul li {
    float: none;
    display: block;
  }
  .navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .navbar ul li.last > a,
  .navbar ul li:last-child > a {
    border: 0;
  }
  .navbar ul li a:after {
    display: none;
  }
  .navbar ul li a:before {
    display: none;
  }
}


.footer .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#292c2f;
}

.footer a{
    color: #282b2d;
    margin-right:30px;
    margin-left:30px;
}
.fade1 .container {
  position: relative;
  width: 50%;
}

.fade1 .image {
  display: block;
  width: 100%;
  height: auto;
}

.fade1 .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: none;
  transition: .5s ease;
}

.fade1 .container:hover .overlay {
  width: none;
  height:100%;
  left: none;
  bottom: 0;
  opacity: none;
}

.fade1 .text {
  white-space: nowrap; 
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.fade2 .container {
  position: relative;
  width: 50%;
}

.fade2 .image {
  display: block;
  width: 100%;
  height: auto;
}

.fade2 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: none;
  transition: .5s ease;
}

.fade2 .container:hover .overlay {
  width: 100%;
  height:none;
  left: none;
  bottom: none;
  opacity: none;
}

.fade2 .text {
  white-space: nowrap; 
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.button1 {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: none;
    opacity: none;
}
.button1:hover {
    background-color: none;
    color: none;
    box-shadow: none;
}
.button2 {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
    border-radius: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: none;
    opacity: 0.6;
}
.button2:hover {
    background-color: none;
    color: none;
    box-shadow: none;
}
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
.navbar {
  background: #f96e5b;
  width: auto;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.navbar.align-right ul li {
  float: right;
}
.navbar.align-center ul {
  text-align: center;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.navbar ul li a:hover {
  color: #333333;
}
.navbar ul li a:hover:before {
  width: 100%;
}
.navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.navbar ul li.last > a:after,
.navbar ul li:last-child > a:after {
  display: none;
}
.navbar ul li.active a {
  color: #333333;
}
.navbar ul li.active a:before {
  width: 100%;
}
.navbar.align-right li.last > a:after,
.navbar.align-right li:last-child > a:after {
  display: block;
}
.navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar ul li {
    float: none;
    display: block;
  }
  .navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .navbar ul li.last > a,
  .navbar ul li:last-child > a {
    border: 0;
  }
  .navbar ul li a:after {
    display: none;
  }
  .navbar ul li a:before {
    display: none;
  }
}


.footer .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#292c2f;
}

.footer a{
    color: #282b2d;
    margin-right:30px;
    margin-left:30px;
}
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button1 {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: none;
    opacity: none;
}
.button1:hover {
    background-color: none;
    color: none;
    box-shadow: none;
}
.fade1 .container {
  position: relative;
  width: 50%;
}

.fade1 .image {
  display: block;
  width: 100%;
  height: auto;
}

.fade1 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: none;
  transition: .5s ease;
}

.fade1 .container:hover .overlay {
  width: 100%;
  height:none;
  left: none;
  bottom: none;
  opacity: none;
}

.fade1 .text {
  white-space: nowrap; 
  color: red;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.button2 {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: none;
    opacity: none;
}
.button2:hover {
    background-color: none;
    color: none;
    box-shadow: none;
}
.button3 {
    background-color: blue;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: none;
    opacity: 0.6;
}
.button3:hover {
    background-color: none;
    color: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.flip1:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}.shake1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* The container */
.checkbox1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox1 input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkbox1 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox1 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}